.carousel-item {
    height: 500px;
}

img {
    height: 100%;
    object-fit: cover;
    
}

.navbar-brand {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
}

.nav-item a:hover {
    background-color: rgb(148, 148, 249);
    border-radius: 5px;
}

.nav-item {
    margin: 0px 5px;
    border-radius: 5px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: blue;
    font-weight: 600;

}

.btn:hover {
    background-color: rgb(148, 148, 249);
}

.navbar-expand-lg {
    background-color: blue;
}

p {
    font-size: 24px;
}

h1 {
    font-weight: 600;
}

.our {
    text-decoration: none;
    color: white;
}

.navbar-nav {
    text-align: center;
}